################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoCompark/.vs
/GoCompark/GoCompark/bin
/GoCompark/GoCompark/obj/Debug
/GoCompark/GoCompark.Tests/bin/Debug
/GoCompark/GoCompark.Tests/obj/Debug
/GoCompark/packages/Microsoft.AspNet.Mvc.5.2.3
/GoCompark/packages
*.user
/GoCompark/Domain/obj/Debug
/GoCompark/Domain/bin/Debug
/GoCompark/GoCompark/node_modules
/GoCompark/GoCompark/package-lock.json
